body {
	background: #e1e1e1 url('../img/ruido.png') repeat;
	color: #000;
	font-family: 'trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1em;
	width: 100%;
}
h2 {
	background-color: #489785; /*color de fondo del login.. #f95252*/
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	letter-spacing: 1px;
	color: #fff; /*color del texto*/
	font-size: 28px;
	padding: 2% 2.6%;
	text-align: center;
	margin-bottom: 0px;
	border-top: 3px Solid #6E6E6E;
}
.nueva_idea {
	/*padding: 5px 40px 20px 20px;*/
	padding: 2%;
	background: #FAFAFA;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	margin-top: 0%;
}

#formulario{
	width: 70%;
	box-shadow: 0px 0px 20px 4px #6E6E6E;  /*3 nro. Es el difuminado. 4 nro. es el tamaño*/
	margin: 5% auto; /* margen superior */
	margin-bottom: 0%;
	padding-right: 0%;
	padding-left: 0%;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	border-bottom: 3px Solid #6E6E6E;
	border-right: 3px Solid #6E6E6E;
	border-left: 3px Solid #6E6E6E;
	
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

#pass_nuevo, #pass_repetido{
	color: #424242;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	width: 340px;
	height: 30px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	box-shadow:0px 0px 10px 1px  #ccc;
}

#pass_nuevo:hover, #pass_repetido:hover{
	background-color: #fff;
	box-shadow:0px 0px 10px 1px  #000;
}

.submit{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #A4A4A4;
	color: #fff;
	display: block;
	margin: 10px auto;
	cursor: pointer;
	width: 120px;
	height: 40px;
	border: none;
	font: bold 16px Calibri, sans-serif;
	background-image: url('../img/floppy.png');
	background-repeat: no-repeat;
	background-position: 12px;
	padding-left: 40px;
	-webkit-background-size: 30px 30px;           /* Safari 3.0 */
    -moz-background-size: 30px 30px;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 30px 30px;           /* Opera 9.5 */
    background-size: 30px 30px;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    margin-left: 5px;
}
.submit:hover {
	box-shadow:0px 0px 15px 0px  #000;
	-moz-box-shadow: 0px 0px 15px 0px  #000;
	-webkit-box-shadow: 0px 0px 15px 0px  #000;
}
#btn_cancelar{
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #8A0808;
	color: #fff;
	display: block;
	margin: 10px auto;
	cursor: pointer;
	width: 120px;
	height: 40px;
	border: none;
	font: bold 16px Calibri, sans-serif;
	background-image: url('../img/cancelar.png');
	background-repeat: no-repeat;
	background-position: 12px;
	padding-left: 40px;
	-webkit-background-size: 30px 30px;           /* Safari 3.0 */
    -moz-background-size: 30px 30px;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 30px 30px;           /* Opera 9.5 */
    background-size: 30px 30px;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    margin-right: 5px;
}
#btn_cancelar:hover {
	box-shadow: 0px 0px 15px 0px  #DF0101;
	-moz-box-shadow: 0px 0px 15px 0px  #DF0101;
	-webkit-box-shadow: 0px 0px 15px 0px  #DF0101;
}
a {
	text-decoration: none;
}

#tablaBtn{
	margin-top: 1%;
	margin-bottom: 1%;
}