body {
	background: #e1e1e1 url('../img/ruido.png') repeat;
	color: #000;
	font-family: 'trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1em;
	width: 100%;
	padding: 0%;
	margin: 0%;
	margin-bottom: 5%;
}
h2 {
	background-color: #489785; /*color de fondo del login.. #f95252*/
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	letter-spacing: 1px;
	color: #fff; /*color del texto*/
	font-size: 28px;
	padding: 2% 2.6%;
	text-align: center;
	margin-bottom: 0%;
	border-top: 3px Solid #6E6E6E;
}
.nueva_idea {
	padding: 2%;
	background: #FAFAFA;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	margin-top: 0%;
}
#menu { 
	/*background: #F2F2F2;
	
	margin-bottom: 0px;
	text-align: center;
	border: 1px Solid #6E6E6E;*/
	background: #444;
	display: block;
    width: 100%;
    overflow: hidden;
}
#menu ul{
	margin: 1.5%;
    padding: 1.5% 0% 1.5% 0%;
    float: center;
    list-style: none;
    background: #444
    background: rgba(0,0,0,.2);
    box-shadow: 0px 1px 1px rgba(255,255,255,.2), 2px 2px 1px rgba(0,0,0,.8) inset; 
    -webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
    text-align: center;
}
#menu li {
	display: inline;
	float: center;
}
#menu a {
    float:center;
    padding: 0.6%;
    text-decoration: none;
    border-radius: 4px;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 16px 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);    
}
#menu a:hover, #menu a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #fac754;
    background: linear-gradient(#fac754, #f8ac00);
}
#menu a:active {
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}

#formulario{
	width: 70%;
	box-shadow: 0px 0px 20px 4px #6E6E6E;  /*3 nro. Es el difuminado. 4 nro. es el tamaño*/
	margin: 5% auto; /* margen superior */
	margin-bottom: 0%;
	padding-right: 0%;
	padding-left: 0%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-bottom: 3px Solid #6E6E6E;
	border-right: 3px Solid #6E6E6E;
	border-left: 3px Solid #6E6E6E;
	
}

label {
	font-family: Calibri;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	text-transform: capitalize;
}


l1{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #424242;
	padding: 2.5%;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	font-family: Calibri;
	border: none;
}

#btn_confirm{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #eee;
	color: #489785;
	cursor: pointer;
	width: 70%;
	height: 40px;
	border: none;
	font: bold 16px Calibri, sans-serif;
	background-image: url('../img/off.png');
	background-repeat: no-repeat;
	background-position: 10%;
	padding-left: 20%;
	-webkit-background-size: 30px 30px;           /* Safari 3.0 */
    -moz-background-size: 30px 30px;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 30px 30px;           /* Opera 9.5 */
    background-size: 30px 30px;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    margin-right: 2.5%;
}
#btn_confirm:hover {
	box-shadow: 0px 0px 15px 0px  #489785;
	-moz-box-shadow: 0px 0px 15px 0px  #489785;
	-webkit-box-shadow: 0px 0px 15px 0px  #489785;
}
#btn_cancelar{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #eee;
	color: #489785;
	cursor: pointer;
	width: 70%;
	height: 40px;
	border: none;
	font: bold 16px Calibri, sans-serif;
	background-image: url('../img/on.png');
	background-repeat: no-repeat;
	background-position: 10%;
	padding-left: 20%;
	-webkit-background-size: 30px 30px;           /* Safari 3.0 */
    -moz-background-size: 30px 30px;           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 30px 30px;           /* Opera 9.5 */
    background-size: 30px 30px;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    margin-right: 2.5%;
}
#btn_cancelar:hover {
	box-shadow: 0px 0px 15px 0px  #489785;
	-moz-box-shadow: 0px 0px 15px 0px  #489785;
	-webkit-box-shadow: 0px 0px 15px 0px  #489785;
}
a {
	text-decoration: none;
}

/*#tablaTitulo{
	width: 90%;
	padding: 0.5%;
	margin-bottom: 2%;
	border-bottom: 2px solid;
}

#tablaCampos{
	width: 100%;
	padding: 0.5%;
	margin-bottom: 2%;
	text-align: right;
}
*/
#tdTitulo{
	text-align: center;
	width: 30%;
}

#tablaGral{
	width: 90%;
	padding: 0.5%;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 0%;
	margin-left: 05;
	text-align: center;
}

#tablaTitulo{
	width: 90%;
	padding: 0.5%;
	background-color: #6d6d6d;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 40px;
	box-shadow: 0px 0px 15px 5px  #489785;
	-moz-box-shadow: 0px 0px 15px 5px  #489785;
	-webkit-box-shadow: 0px 0px 15px 5px  #489785;
	margin-bottom: 2%;
}

#tablaCampos{
	width: 90%;
	padding: 0.5%;
}

hr{
	border: 1;
	height: 2px;
	text-align: center;
	border-radius: 10px;
	background-color: #C0C0C0;
	width: 95%;
	margin-top: 3%;
}

legend{
	font-family: Tahoma;
	font-size: 16px;
	font-weight: normal;
	color: #444;
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	margin-bottom: 2%;
	margin-top: 1%;
}

#add_idea{
	border: none;
	text-decoration: none;
	text-transform: none;
}